/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2018, 09:00:09 AM
    Author     : ariel

    font-family: 'Montserrat', sans-serif;
    font-family: 'Allerta', sans-serif;
*/
/*
*{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 13px;
    padding-bottom: 10px;
    padding: 10px 13px 5px 15px;
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
}*/

body{
    font-family: 'Allerta', sans-serif;
    background: #659c80;
    margin: 0;
    background: #f9dec9;
    min-height: 100vh;
}

table{
    width: 100%;
}

th{
    background: #273b47;
    color: white;
    padding: 10px 20px;
    text-align: left;
}

td{
    padding: 20px;
}

table, td, th{
    border: 1px solid #273b47;
    border-collapse: collapse;
}

.titulo{
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 70px;
}
.title-a{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-top: 0;
}

.titulo span{
    text-decoration: underline;
}

.title-b{
    font-size: 50px;
        
}


.contenedor{
    width: 800px;
    margin: auto;    
}

.background{
    background-image: url('../images/background.png');
    background-size: cover;
}
.guitarras{
    color: #1F313C;    
    margin-bottom: 60px;

}

.guitarras h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.guitarra{
    margin: 10px;
    padding: 10px;
/*  overflow: hidden;*/
    border: 1px solid #1F313C;
    border-radius: 8px;
}

.guitarra ol{
    padding: 0;
}

.portada{
    color: white;
    padding: 20px;    
    height: 500px;
}

.button{
    margin-bottom: 70px;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 10px 12px;
    cursor: pointer;   
    font-size: 18px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
    background: #ffb76b; /* Old browsers */
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
}

.menu{
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
}
.menu li{
    display: inline-block;
    margin-left: 30px;
}

.menu a{
    color: white;
    text-decoration: none;
}

.logotipo{
    display: inline-block;
    margin-left: 0;
}

.header{
    position: relative;
}


.derecha{
    float: right;
    position: relative;
    top: -127px;
        
}

.izquierda{
    float: left;
    position: relative;
    top: 80px;
}


.contenedor-guietarra-a{
    padding-left: 20px;
}

.contenedor-guietarra-b{
    margin-left: 370px;
    padding-right: 20px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 10px;
}

.footer{
    background: #c4a77d;
}

.contacto{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 60px 10px 10px 0;
}
.contacto img{
    display: block;
}

.contacto strong{
    display: block;
}

.contacto a{
    color: white;
    text-decoration: none;
}
.footer .contenedor{
    display: flex;
    justify-content: space-between;
    
}

.formulario{
    display: flex;
    width: 450px;
    color: white;
    padding: 50px 10px;
}

.col1, col2{
    display: flex;
    flex-direction: column;
}

.col1{
    margin-right: 15px;
}

.intereses label{
    font-size: 12px;
    
}

.formulario label, .sexo, .intereses{
    margin-bottom: 10px;
    
}

.sexo{
    margin-top: 10px;
}



.menu li:before{
    content: '⊣';
}

.tabla{
    margin: 50px 0;
    min-height: 40vh;
}

div img:hover{
    
}

div:hover img{
    
}

